<mat-toolbar class="justify-between" color="primary">
  <div>
    <button mat-icon-button (click)="toggleSideNav()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button (click)="toggleDarkMode()" class="" aria-label="icon-button with menu icon">
      <mat-icon *ngIf="!darkMode">brightness_high</mat-icon>
      <mat-icon *ngIf="darkMode">brightness_low</mat-icon>
    </button>
  </div>
  <a href="/">
    <span>Jack's Bazzar</span>
  </a>
  <app-cart-widget [cart]="cart"></app-cart-widget>
</mat-toolbar>