<mat-card class="h-full" *ngIf="categories">
  <mat-selection-list  [multiple]="false">
    <mat-list-option (click)="onShowCategory(category)" *ngFor="let category of categories" [value]="category">
      {{ category }}
    </mat-list-option>
    <mat-list-option (click)="onShowCategory('')" [value]="">
      Reset
    </mat-list-option>
  </mat-selection-list>
</mat-card>
