// Import material theming functions
@use '@angular/material' as mat;

// Copy the palettes from your selected theme (usually theme.scss).
$mat-primary-light: mat.define-palette(mat.$pink-palette, 200);
$mat-accent-light:  mat.define-palette(mat.$green-palette, 800);
$mat-warn-light:    mat.define-palette(mat.$pink-palette);

// Copy the palettes from your selected theme (usually theme.scss).
$mat-primary-dark: mat.define-palette(mat.$orange-palette);
$mat-accent-dark: mat.define-palette(mat.$pink-palette);
$mat-warn-dark: mat.define-palette(mat.$pink-palette);

// Create your Sass color vars (will be available in all the project)
$primary-light:  mat.get-color-from-palette($mat-primary-light);
$accent-light:  mat.get-color-from-palette($mat-accent-light);
$warn-light:  mat.get-color-from-palette($mat-warn-light);

// Create your Sass color vars (will be available in all the project)
$primary-dark:  mat.get-color-from-palette($mat-primary-dark);
$accent-dark:  mat.get-color-from-palette($mat-accent-dark);
$warn-dark:  mat.get-color-from-palette($mat-warn-dark);

$white: white;
$black: black;
