@import "./_variables.scss";


.dark {
    .accent {
        color: $accent-dark;
    }
    .primary {
        color: $primary-dark;
    }

    .productCategory {
        background-color: $primary-dark;
    }

    .productPrice {
        background-color: $accent-dark;
        color: $white;
    }

    .addToCart:hover {
        background: rgba($primary-dark, .8);
        color: $white;
    }

    .removeFromCart:hover {
        background: rgba($accent-dark, .8);
        color: $white;
    }
}

.light {
    mat-toolbar{
        color: white !important;
    }
    .accent {
        color: $accent-light;
    }
    .primary {
        color: $primary-light;
    }

    .productCategory {
        background-color: $primary-light;
    }

    .productPrice {
        background-color: $accent-light;
        color: $white;
    }


    .addToCart:hover {
        background: rgba($primary-light, .8);
        color: $white;
    }

    .removeFromCart:hover {
        background: rgba($accent-light, .8);
        color: $white;
    }
    
 
}