@use '@angular/material' as mat;
@use 'sass:map';
@import "./variables";
@include mat.core();
// Define a dark theme
$dark-theme: mat.define-dark-theme((color: (primary: $mat-primary-dark,
                accent: $mat-accent-dark, warn:$mat-warn-dark
            ),

        ));

// Define a light theme
$light-theme: mat.define-light-theme((color: (primary: $mat-primary-light,
                accent: $mat-accent-light, warn: $mat-warn-light
            ),
            // Only include `typography` and `density` in the default dark theme.
            typography: mat.define-typography-config(),
            density: 0,
        ));

// Apply the light theme by default
@include mat.all-component-themes($light-theme);


// Apply the light theme only when the user prefers light themes.
.dark {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.all-component-colors($dark-theme);
}

