<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with cart icon">
  <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn">shopping_cart</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div class="p-3 divide-y divide-solid">
    <div class="pb-3 flex justify-between">
      <span class="mr-16">{{ itemsQuantity }} items</span>
      <a routerLink="cart">View Cart</a>
    </div>
    <div *ngIf="cart.length" class="py-3">
      <div *ngFor="let item of cart" class="flex justify-between font-light mb-2">
        {{ item.name }} x {{ item.quantity }}
        <span class="font-bold not-italic">{{ item.price | euroCurrency }}</span>
      </div>
    </div>
    <div class="flex justify-between py-3 font-light">
      Total:
      <span class="font-bold not-italic">{{getTotal(cart) | euroCurrency}}</span>
    </div>
    <div class="pt-3 flex justify-between">
      <button (click)="onClearCart()" mat-mini-fab color="warn">
        <mat-icon>remove_shopping_cart</mat-icon>
      </button>
      <button routerLink="cart" mat-mini-fab color="success">
        <mat-icon>shopping_cart_checkout</mat-icon>
      </button>
    </div>
  </div>
</mat-menu>