<div class="min-h-screen h-full" [ngClass]="darkMode? 'dark' : 'light'">

    <mat-sidenav-container class="h-full">
        <mat-sidenav class="justify-between" #matDrawer mode="over">


            <div class="flex flex-col h-screen">
                <div class="flex-grow">
                  <!-- Your content here -->
                  <div class="flex flex-col space-y-4 mt-10">
                    <button [routerLink]="'/'" (click)="closeSideNav()"  style="text-align:left"  mat-button color="primary" class="w-full p-2 mr-auto menu-button">
                      <mat-icon>home</mat-icon>
                      <span>Home</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button [routerLink]="'/about-me'" (click)="closeSideNav()" color="primary" mat-button class="w-full p-2 mr-auto menu-button">
                      <mat-icon>person</mat-icon>
                      <span>About Me</span>
                    </button>
                    <mat-divider></mat-divider>
                    <button [routerLink]="'/cart'" (click)="closeSideNav()" color="primary" mat-button class="w-full p-2 mr-auto menu-button">
                      <mat-icon>shopping_cart</mat-icon>
                      <span>Cart</span>
                    </button>
                  </div>
                </div>
                <div class="flex-shrink">
                  <!-- Your footer here -->
                  <p class="p-2 mb-auto accent">Created by Jack Skehan</p>
                </div>
              </div>

        </mat-sidenav>
        <mat-sidenav-content>
            <app-header (darkModeToggle)="onDarkModeToggle($event)" [cart]="cart"></app-header>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>