

    <app-sort (showDetailsChange)="showDetailsChange($event)" (itemsCountChange)="onItemsCountChange($event)"
      (sortChange)="onSortChange($event)"></app-sort>
    <mat-grid-list  class="mt-4" *ngIf="products && products.length"
      [cols]="showDetails || products.length === 1 ? 1 : breakpoint" gutterSize="10" [rowHeight]="rowHeight">
      <mat-grid-tile class="z-10 hover:overflow-visible hover:z-50" *ngFor="let product of products">
        <app-product-box (addToCart)="onAddToCart($event)" (removeFromCart)="onRemoveFromCart($event)"
          [product]="product" [detailed]="showDetails" class="w-full h-full "></app-product-box>
      </mat-grid-tile>
      <!-- Workaround to stop scroll when focus and box is too big! -->
      <mat-grid-tile rowspan="0.5" [colspan]="showDetails || products.length === 1 ? 1 : breakpoint">
        <img src="../../../assets/images/lol.gif" class="h-full  w-100 object-fill">
      </mat-grid-tile>
    </mat-grid-list>
