
  <div class="p-6 divide-y divide-solid">
    <div class="pb-3 flex justify-between">
      <span class="mr-16">{{ itemsQuantity }} items</span>

    </div>
    <div *ngIf="cart.length" class="py-3">
      <div *ngFor="let item of cart" class="flex justify-between font-light mb-2">
        {{ item.name }} x {{ item.quantity }}
        <div class="w-1/4 flex justify-between">
          <div>
            <button (click)="removeItem(item)" mat-mini-fab color="warn">
              <mat-icon>remove_shopping_cart</mat-icon>
            </button>
            <button (click)="addItem(item)" mat-mini-fab color="primary">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
          <span class="font-bold not-italic">{{ item.price | euroCurrency }}</span>
        </div>
      </div>
    </div>
    <div class="flex justify-between py-3 font-light">
      Total:
      <span class="font-bold not-italic">{{getTotal(cart) | euroCurrency}}</span>
    </div>
    <div class="pt-3 flex justify-between">
      <button (click)="onClearCart()" mat-raised-button color="warn">
        <mat-icon>remove_shopping_cart</mat-icon>Clear Cart
      </button>
    </div>
  </div>
