<mat-card>
  <div class="elative flex w-full items-center justify-between ">
    <div class="flex w-full flex-wrap items-center justify-between px-6">
  
  


      <button class="md:visible element-invisible" mat-button color="primary" [matMenuTriggerFor]="categories">
        Categories
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #categories="matMenu">
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
      </mat-menu>


      <button class="md:visible element-invisible" mat-button color="primary" [matMenuTriggerFor]="menu">
        Show {{ itemsShowCount }}
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="onItemsUpdated(1)" mat-menu-item>1</button>
        <button (click)="onItemsUpdated(3)" mat-menu-item>3</button>
        <button (click)="onItemsUpdated(5)" mat-menu-item>5</button>
        <button (click)="onItemsUpdated(12)" mat-menu-item>12</button>
        <button (click)="onItemsUpdated(24)" mat-menu-item>24</button>
      </mat-menu>
<div>

      <button mat-icon-button color="primary" (click)="productDetailShow(true)">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="productDetailShow(false)">
        <mat-icon>view_module</mat-icon>
      </button>
      </div>
    </div>
  </div>
</mat-card>