<mat-card (mouseover)="truncate=false" (mouseout)="truncate=true" *ngIf="product" class="p-3 h-full flex" [ngClass]="{ 'text-center': !detailed }">
  <div [ngClass]="{ flex: detailed }">
    <h5 class="mat-h5 p-1 pr-2 shadow-md accent productCategory rounded-r-full" >{{ product.category }}</h5>
    <div class="bg-white rounded" [ngClass]="{ 'w-100': !detailed, 'w-2/4': detailed }">
      <span class="productPrice rounded-l-full font-medium p-2 shadow-md inline-block align-middle text-xl">{{ product.price | euroCurrency }}</span>
      <img class="rounded mx-auto object-contain" 
        [src]="product.image" [ngClass]="{ 'h-[200px]': !detailed, 'h-[290px] ': detailed }"/>
    </div>
    
    <div [ngClass]="{ 'w-full': !detailed, 'px-8 mt-10 flex flex-col justify-between w-2/4': detailed }">
      <div>



        <p class="line-clamp-2 font-medium underline hover:whitespace-normal" >
          {{ product.title }}
        </p>
        <p  *ngIf="detailed">
          {{ truncate ? (product.description | truncate:[60, '...']): product.description }}
        </p>
        <p class="accent text-center" *ngIf="truncate && detailed">Hover To Expand</p>
      </div>
      <div class="flex flex-col justify-between">
        
        <button *ngIf="detailed" mat-raised-button color="accent" (click)="onAddToCart()" color="accent"
          aria-label="Example icon button with a shopping cart icon">
          <mat-icon>shopping_cart</mat-icon>Buy Now
        </button>

      </div>
    </div>
  </div>
  <button *ngIf="!detailed" (click)="onAddToCart()" class="font-semibold addToCart cartButtons">	<mat-icon>add</mat-icon></button>
  <button *ngIf="!detailed" (click)="onRemoveFromCart()" class="removeFromCart cartButtons"><mat-icon>remove</mat-icon></button>
</mat-card>