@import "../../../../assets/scss/_variables.scss";


.productCategory{
    position: absolute;
    top: 0%;
    left: 0%;
}


.productPrice{
    position: absolute;
    top: 0%;
    right: 0%;
}



.cartButtons {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 50%;
    color: rgba(0,0,0,0); 
    background: rgba(0,0,0,0); /* Added in case you want to transition this */
    transition: all 1s ease;  
}
mat-icon{
  transform: scale(2);
}

  

  .addToCart{
    left: 0;
    ; /* Makes the hovered button visible */
  }
  
  .removeFromCart {
    top:50%;
    left: 0; /* left: 50%; works too */
  }
