
@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "../src/assets/scss/customComponents.scss";


//ensure the background stays
html, body{

  height: 100% !important;
 
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}




  @media only screen and (max-width: 600px) {
    .element-invisible {
        position: absolute !important;
        height: 1px; width: 1px; 
        overflow: hidden;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
      }
    
  }
