<mat-card class="p-6">
    <img class="mx-auto mb-4 w-32 rounded-full shadow-md dark:shadow-gray-800 mat-elevation-z8 "
        src="../assets/images/jack.jpeg" />

    <h5 class="mb-2 text-xl font-medium leading-tight">Jack Skehan</h5>
    <p class="primary">Developer and Designer</p>
    <mat-divider></mat-divider>
    <div class="p-4">
        <p class="text-justify	p-2">
            Creating a shop using Angular was a way for me to showcase my proficiency in using the
            framework and my ability
            to build complex web applications. By developing this project, I have demonstrated my knowledge of Angular's
            architecture, components, services, and directives, and how to use them to create a dynamic and interactive
            user
            experience.
        </p>
        <p class="p-2 text-justify">
            I believe that this project is a testament to my passion for web development and my commitment to staying
            up-to-date with the latest industry trends and best practices. With my knowledge and experience in Angular,
            I am
            confident that I can contribute to any project that requires the use of this powerful framework.
        </p>
        <p class="p-2 text-justify">
            If you're looking for a skilled and dedicated developer who can build high-quality web applications using
            Angular, then I am the right person for the job. I have a keen eye for detail, strong problem-solving
            skills,
            and a deep understanding of how to create scalable and maintainable code. With me on your team, you can be
            confident that your project will be delivered on time, on budget, and to the highest standards of quality.
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class=" flex justify-between">
        <div class="mx-auto primary">
            Link With Me:
            <a href="https://www.linkedin.com/in/jack-skehan/" target="_blank" rel="noopener noreferrer">
                <img class="mx-auto w-100" src="../assets/images/icons8-linkedin-48.png">
            </a>
        </div>
        <div class="mx-auto  primary">
            Review My Code:
            <a href="https://gitlab.com/JackSkehan/shop-with-angular-tailwind-matdesign" target="_blank"
                rel="noopener noreferrer">
                <img class="mx-auto  w-100" src="../assets/images/icons8-gitlab-48.png">
            </a>
        </div>
        <div class="mx-auto primary">
            <p class="primary">
                Message Me:
            </p>
            <a  [href]="emailstring" target="_top"
                rel="noopener noreferrer">
                <img class="mx-auto w-100" src="../assets/images/icons8-gmail-48.png">
            </a>
        </div>
    </div>


</mat-card>